div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin: 0 8px 6px 1px;
}
.news-date-time
{
	color: #486DAA;
}


.open_program-href
{
	padding: 15px 0;
}

.open_program-href > a
{
	color: #2cc17b;
    font-size: 16px;
	line-height: 1.5em;
}

.open_program-href > a:hover
{
	color: #ff7256;
  	text-decoration: none;
}

.programm_traning .buttons
{
	margin: 65px 0;
}
.programm_traning .buttons a
{

  width: 305px
}

.programm_traning .warning {
  margin-bottom: 50px;
}