@font-face {
    font-family: 'MuseoCyrl-500';
    src: url('MuseoCyrl-500.eot?#iefix') format('embedded-opentype'),  url('MuseoCyrl-500.woff') format('woff'), url('MuseoCyrl-500.ttf')  format('truetype'), url('MuseoCyrl-500.svg#MuseoCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSansCyrl-500';
    src: url('MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),  url('MuseoSansCyrl-500.woff') format('woff'), url('MuseoSansCyrl-500.ttf')  format('truetype'), url('MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal;
}
