div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}


.council .sales_txt
{

	font-size: 1.25vw;
  	line-height: 1.3em;
}
[data-uloginbutton]
{
 background-image: url(http://yastatic.net/share/static/b-share_counter_large.png)!important;
 border-radius: 4px!important;
 margin: 0px 5px 0px 0px!important;
}

[data-ulogin-inited] > div
{
	  width: 115px!important;
}

[data-uloginbutton=vkontakte]{
  background-position: 4px -54px!important;
  background-color: rgb(72, 114, 158)!important;

 }
 [data-uloginbutton=odnoklassniki]{
  background-position:4px -112px!important;
  background-color: #ff9f4d!important;
 }
 
  [data-uloginbutton=facebook]{
  background-position: 1px 3px!important;
  background-color: rgb(60, 90, 152)!important;
 }
 