.news{
  &-list{
    & > li{
      border-radius: 3px;
      margin-bottom: 30px;
    }
    &-title{
      color:#2b2928;
      font-size: 28px;
      margin-bottom: 60px;
      &-events{
        margin-bottom: 40px;
        margin-top:13px;
      }
    }
    &-wrap{
      padding: 20px;
    }
  }
  &-img{
    background-size: cover;
    width: 100%;
    &-wrap{
      max-width: 110px;
      width: 100%;
      margin-right: 25px;
    }
  }
  &-post{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 13px;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
  }
  &-info{
    &-title{
      font-size: 20px;
      line-height: 24px;
      color:#2b2928;
      margin-bottom: 14px;
    }
    &-date{
      font:15px "ProximaNova Regular";
      color:#6e6e6e;
      &::before{
        content: '\f017';
        font-family: FontAwesome;
        color:#00bcac;
        margin-right: 12px;
      }
    }
  }
}

.blog{
  &-list{
    & > li{
      padding-bottom: 39px;
      border-bottom: 1px solid #e1e1e1;
      margin-bottom: 40px;
      &:last-child{
        margin-bottom: 0;
        border: none;
      }
    }
  }
  &-post{
    &-img{
      width: 100%;
      background-size: cover;
      display: block;
      &-wrap{
        background: #b7b7b7;
        border-radius: 3px;
        overflow: hidden;
      }
    }
    &-title{
      font-size: 20px;
      line-height: 37px;
      color:#2b2928;
    }
    &-text{
      color:#6e6e6e;
      margin-bottom: 20px;
    }
    &-publication{
      &-list{
        margin-bottom: 5px;
        & li{
          margin-right: 36px;
          &:last-child{
            margin-right: 0;
          }
        }
      }
      &-date{
        &::before{
          content:'\f017';
          margin-right: 11px;
          color:#00bcac;
          font-family: FontAwesome;
          font-size: 21px;
        }
      }
      &-views{
        &::before{
          content:'\f06e';
          margin-right: 11px;
          color:#00bcac;
          font-family: FontAwesome;
        }
      }
    }
  }
  &-page{
    &-nav{
      & li{
        position: relative;
        width: 52px;
        height: 52px;
        background: #fff;
        border-radius: 5px;
        margin-right: 10px;
        & span{
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%,-50%);
          font-size: 25px;
        }
        &.active{
          background: #00bcac;
          &:hover{
            background: #fff;
            border:1px solid #00bcac;
            color:#fff;
            & span{
              color:#00bcac;
            }
          }
          & span{
            color:#fff;
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}