.services{
  &-wrap{
    border-right:16px solid #f3f3f3;
    border-bottom: 16px solid #f3f3f3;
    border-bottom-right-radius: 21px;
  }
  &-block{
    position: relative;
    background: #00bcac;
    background-size: cover;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    & span{
      position: absolute;
      font:21px "ProximaNova Semibold";
      color:#fff;
      opacity:.6;
      display: block;
      left:12px;
      top:13px;
    }
    & img{
      margin-left: 50%;
      transform: translate(-50%);
      display: block;
      padding: 29px 0 27px;
    }
  }
  &-title{
    padding-top:44px;
    font-size:28px;
    color:#2b2928;
    margin-bottom: 22px;
    &-small{
      font-size: 25px;
    }
  }
  &-text{
    color:#6e6e6e;
    margin-bottom: 28px;
  }
  &-list{
    & > li{
      border-radius: 10px;
      padding-bottom: 40px;
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &-content{
    padding-right:30px;
  }
}