.text-padding {
    padding-left: 10px;
    padding-right: 10px;
}
.form-modal {
    padding: 10px 25px 25px 25px;
}
.modal-title {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    /*padding-left: 20px;
    */
    font: 40px/60px "ProximaNova Light";
}
.modal-title::after {
    bottom: -8px;
}
/*#training .modal-title {
	*/
/*left: 13%;
*/
/*
}
*/
.modal-header {
    border: none;
}
.span-modal {
    padding: 13px 18px 13px 13px !important;
}
label.error-input {
    border: none;
    color: #c40000;
    padding-top: 7px;
}
.error-input {
    border: 1px solid red;
    margin-bottom: 7px;
}
.margin_top {
    margin-top: 0;
}
/*.video-js.vjs-playing .vjs-tech {
	*/
/*pointer-events: none;
*/
/*
}
*/
.success-input {
    border: 1px solid green;
}
.thankyou-title-form {
    font: 25px/25px "ProximaNova Regular";
    color: black;
}
.display-none {
    display: none !important;
}
.margin-top {
    margin-top: 20px;
}
.newss-social-list .b-share__handle {
    box-sizing: border-box !important;
    width: 51px !important;
    height: 51px !important;
    background: transparent !important;
    border: 1px solid #626262 !important;
    border-radius: 50% !important;
    position: relative !important;
    margin-right: 13px !important;
    margin-bottom: 15px !important;
    cursor: pointer !important;
}
.newss-social-list a:hover {
    background: #00bcac !important;
    border-color: #00bcac !important;
}
.newss-social-list a:hover .fa {
    color: #fff;
}
.newss-social-list a .fa {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    color: #fff !important;
}
.newss-social-list-grey .b-share__handle {
    cursor: pointer !important;
    box-sizing: border-box !important;
    width: 51px !important;
    height: 51px !important;
    background: #fff !important;
    border: none !important;
    border-radius: 50% !important;
    position: relative !important;
    margin-right: 13px !important;
    margin-bottom: 15px !important;
}
.newss-social-list-grey a:hover {
    background: #00bcac !important;
}
.newss-social-list-grey a .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b0b0b0;
}
.newss-social-list-grey a:hover .fa {
    color: #fff;
}
.news-info a:hover {
    text-decoration: none;
}
.comments-info a:hover {
    text-decoration: none;
}
.color-black-link a {
    color: black;
}
.training-other-list a:hover {
    text-decoration: none;
}
.section-indents-mds5 a:hover {
    text-decoration: none;
}
.section-indents-smd6 a:hover {
    text-decoration: none;
}
.a-press-center-social {
    cursor: pointer;
    margin-right: 10px;
    position: relative;
    width: 61px;
    height: 61px;
    box-sizing: border-box;
    /*border: 1px solid #6d6d6d;
    */
    border-radius: 50%;
    background: transparent;
}
.events-amply-second a:hover {
    text-decoration: none;
    font: 16px/37px "ProximaNova Regular";
    color: #6e6e6e;
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 32px;
    width: 32px;
    transition: all 0.15s ease-out 0s;
    background: none;
    border: 1px solid #cbd1d8;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}
.option-input:hover {
    background: #9faab7 !important;;
}



.option-input:checked {
    background: #40e0d0 !important;;
}

.option-input::-ms-check {
    background: #40e0d0 !important;;
}

.option-input:checked::before {
    height: 32px !important;
    width: 32px !important;
    position: absolute !important;
    content: '✔' !important;
    display: inline-block !important;
    font-size: 26.66667px !important;
    text-align: center !important;
    line-height: 32px !important;
}

.option-input::-ms-check::before {
    height: 32px !important;
    width: 32px !important;
    position: absolute !important;
    content: '✔' !important;
    display: inline-block !important;
    font-size: 26.66667px !important;
    text-align: center !important;
    line-height: 32px !important;
}

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s !important;
    -moz-animation: click-wave 0.65s !important;
    animation: click-wave 0.65s !important;
    background: #40e0d0 !important;
    content: '' !important;
    display: block !important;
    position: relative !important;
    z-index: 100 !important;
}

.option-input::-ms-check::after {
    -webkit-animation: click-wave 0.65s !important;
    -moz-animation: click-wave 0.65s !important;
    animation: click-wave 0.65s !important;
    background: #40e0d0 !important;
    content: '' !important;
    display: block !important;
    position: relative !important;
    z-index: 100 !important;
}


.video-big-about .video-js .vjs-big-play-button {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -75%) !important;
    z-index: 55 !important;
    width: 100px !important;
    height: 100px !important;
    background: #ffffff !important;
    border-radius: 50% !important;
    border: none !important;
}
.video-big-about {
    border-radius: 4px;
    position: relative;
    background: #2b2928;
}
.form-training .form-comments-name-tr {
    border: 1px solid #cbd1d8;
}
.form-training .form-comments-comment-tr {
    border: 1px solid #cbd1d8;
}
.form-training .error-input {
    margin-bottom: 0;
}
.comments-video-wrap .vjs-big-play-button {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -75%) !important;
    z-index: 55 !important;
    width: 100px !important;
    height: 100px !important;
    background: #fff !important;
    border-radius: 50% !important;
    border: none !important;
}
.sub a:hover {
    text-decoration: underline;
    color: #acacac;
}

.sub_t:hover{
    text-decoration: underline;
    color: #acacac;
}

.form-modal input{
    color: black;
}

.form-modal textarea{
    color: black;
}

.vjs-big-play-button img {
    padding-top: 8px !important;
    padding-left: 4px !important;
}
.justify-content-center a:hover {
    text-decoration: none;
}
.span-main {
    position: absolute !important;
    font: 21px "ProximaNova Semibold" !important;
    color: #fff !important;
    opacity: .6 !important;
    display: block !important;
    left: 12px !important;
    top: 13px !important;
}
.form-training .form-comments-name {
    padding: 13px 18px 13px 13px !important;
}
.form-training .form-comments-comment {
    padding: 13px 18px 13px 13px !important;
}
.books-structure-pages li:nth-child(2) {
    width: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
/*.books-structure-pages li:nth-child(1):after {
	*/
/*content: " ................................................................................................";
*/
/*!*white-space: pre;
*!*/
/*!*white-space: nowrap;
*!*/
/*overflow: hidden;
*/
/*text-overflow: ellipsis;
*/
/*
}
*/
.vjs-poster {
    background-repeat: repeat !important;
}
.a-margin a {
    margin-right: 10px;
}
.footer-new-social a {
    position: relative;
    width: 37px;
    height: 37px;
    border: 1px solid #8c8b8b;
    border-radius: 50%;
    margin-right: 9px;
    cursor: pointer;
}
.footer-new-social a li {
    color: #8c8b8b;
}
.footer-new-social a li .fa {
    position: absolute;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}
.footer-new-social a:hover {
    border-color: #00bcac;
    background: #00bcac;
}
.footer-new-social a:hover li {
    color: #fff;
}
.footer-new-social a {
    margin-bottom: 25px;
}
.bottom-0 {
    position: absolute;
    bottom: 0;
}
.slider-a-margin a {
    margin-right: 11px;
}
.form-comments-name-wrap img {
    position: absolute;
    color: #00bcac;
    top: 15px;
    left: 18px;
}
.form-comments-email-wrap img {
    position: absolute;
    color: #00bcac;
    top: 15px;
    left: 18px;
}
.form-comments-comment-wrap img {
    position: absolute;
    color: #00bcac;
    top: 15px;
    left: 18px;
}
.btn-otzivi:hover {
    background: #00bcac;
}
.section-welcome-events button {
    background: transparent;
}
.section-welcome-events button:hover {
    background: #00bcac;
    color: #fff;
}
.reg-color-black:hover {
    background: transparent;
    color: black;
}
.btn-schedule:hover {
    background: #00bcac;
}
.newss-social-grey {
    padding-top: 40px;
}
.newss-social-title-grey:after {
    content: " :";
}
.newss-social-title:after {
    content: " :";
}
.books-structure .d-flex {
    padding-top: 0;
}
/*.d-flex {
	*/
/*padding-top: 20px;
*/
/*
}
*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none;
    <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}
.section-nav li span {
    color: #6e6e6e;
}
.btn_programs {
    margin-top: 20px;
}
.counter {
    text-align: right;
    color: #6e6e6e;
    top: 125px;
    right: 15px;
    position: absolute;
}
.counter_comments {
    color: #6e6e6e;
    margin-left: auto;
    margin-right: 15px;
    margin-top: -15px;
}
.color_red_count {
    color: #c40000;
}
.text-decoration-none a:hover {
    text-decoration: none;
}
.video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 680px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform: translate(0, 50px);
}
.video-wrap > div:nth-child(1) {
    height: 100% !important;
}
.video-wrap video {
    position: absolute;
    width: 100%;
    height: 100%;
}
.video-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
}
.close-video{
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
}
.close-video:before,.close-video:after{
    content: '';
    position: absolute;
    top: 9px;
    height: 2px;
    width: 100%;
    background-color: #ffffff;
}
.close-video:before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 0;
}
.close-video:after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 0;
}
.main-welcome {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.swiper-slide.play-video .main-welcome {
    opacity: 0;
    transform: translate(0, -50px);
    pointer-events: none;
}
.swiper-slide.play-video .video-wrap {
    pointer-events: auto;
    opacity: 1;
    transform: translate(0, 0);
}
.swiper-pagination {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.swiper-pagination.hide-for-play {
    opacity: 0;
    transform: translate(0, -50px);
}
.main-statistic.hide-for-play {
    background-image: none;
}
/*.section-indents-mdl4 {
	*/
/*margin-bottom: 0!important;
*/
/*
}
*/
.btn-add-comment:hover {
    background: #04a99b;
    color: #fff;
}
.btn-sidebar-submit:hover {
    background-color: transparent;
    color: #2b2928;
    fill: #2b2928;
}
.btn-sidebar-submit:hover svg * {
    fill: #2b2928;
}
.video_reviews {
    padding-top: 20px;
    color: #00bcac;
    padding-right: 8px;
}
input[type='file'] {
    z-index: 2;
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
}
.video-li {
    background-color: white;
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
}
.counter_reviews {
    margin-left: -15px;
}
#val {
    font-size: 15px;
    width: 95%;
    height: 22px;
    position: absolute;
    top: 16px;
    line-height: 25px;
    text-indent: 25px;
    color: #6e6e6e;
    padding-left: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 13px;
}
.video-li img {
    left: 19px;
}
.counter_comment_style_modal {
    color: #6e6e6e;
    margin-left: 0;
    margin-right: 0;
    padding-top: 7px !important;
    float: right;
    margin-top: 0;
}
@-moz-document url-prefix() {
    .form-comments-comment {
        line-height: 19px;
    }
}
.background_color_404 {
    background: url(../../img/index/section-bg-222.png);
    /*background-repeat: no-repeat;
    */
    /*background-size: 100% auto;
    */
    background-size: cover;
    background-position: center top;
    /*background-attachment: fixed;
    */
    min-height: 70vh;
    padding: 0 0 100px;
}
.h1-404 {
    padding-top: 100px;
    text-align: center;
    color: #00bcac;
    font-size: 200px;
    line-height: 1em;
    font-weight: 100;
    font-family: "ProximaNova Thin", sans-serif;
}
.error-text2 {
    font-size: 40px;
    line-height: 1em;
    font-family: "ProximaNova Thin", sans-serif;
}
.error-text3 {
    margin: 10px auto 60px;
    font-family: "ProximaNova Thin", sans-serif;
    font-size: 16px;
}
.background_color_404 .btn-events {
    font: 14px/37px "ProximaNova Semibold";
    padding: 12px 39px 9px;
}
.text-align-center {
    text-align: center;
    padding-top: 10px;
}
.color-white {
    color: white;
}
.header-top-nac li {
    list-style-type: none;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff !important;
}
.blog-post-text span {
    background-color: transparent !important;
}
.blog-post-text b {
    background-color: transparent !important;
}
.blog-post-text a {
    color: #6e6e6e !important;
}
.blog-post-text span > a {
    color: #6e6e6e !important;
}
/*#book-buy .modal-title {
	*/
/*left: 21%;
*/
/*
}
*/
#thank-comment .modal-title {
    /*left: 2%;
    */
    font: 38px/39px "ProximaNova Light";
}
#thank-comment .modal-title::after {
    bottom: -10px;
}
.btn_book_buy:hover {
    background: transparent;
}
.img-input img {
    position: absolute;
    top: 17px;
    right: 40px !important;
    left: auto;
}
.select-image img {
    position: absolute;
    top: 45px;
    left: auto;
    right: 40px !important;
}
.press-center-comments label.error-input {
    padding-top: 0px;
}
.press-center-comments .error-input {
    margin-bottom: 2px;
}
.f-nav {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #282625;
    /*padding: 20px 15px;
    */
}
.f-nav .navbar-nav {
    max-width: 1100px;
    margin: 0 auto;
}
.training-other-col .section-button{
    padding-top: 25px;
}
.collapse.show {
    overflow: auto;
}
.navbar-nav {
    height: 85vh;
}
.navbar-collapse.in {
    overflow-x: hidden;
    padding-right: 17px;
}

.footer_logo_new {
    margin-left: -10px;
    width: 85px;
    height: 85px;
}

@media (min-width: 768px) {
    .navbar-nav {
        height: auto;
    }
}
@media (max-height : 1024px) {
    /*.thankyou-content {*/
        /*margin-left: 20%;*/
    /*}*/
}
@media (max-width: 1024px) {
    .footer-col .footer-title {
        margin-left: 50px;
    }
}
@media (max-width: 576px) {
    html, body {
        -webkit-overflow-scrolling : touch !important;
    }
    body.modal-open {
        width: 100%;
        position:fixed !important;
        overflow:auto !important;
        height:100% !important;
    }

    #new-subs.pop .img .img-inner img {
        margin-bottom: -1px;
    }

    /*.newss-post-wrap img {*/
        /*width: 100%;*/
        /*height: 100%;*/
    /*}*/
    #ui-datepicker-div {
        position: absolute !important;
        /* left: 50% !important;
        */
        top: 40% !important;
        margin-left: -10px;
        margin-top: -73px;
        width: 95%;
    }
    .slider div {
        border-right: none !important;
    }
    .press-center-ul label.error-input {
        float: left;
    }
    .video-big-about .video-js .vjs-big-play-button {
        top: 60% !important;
    }
    .main-welcome-text {
        max-width: 100%;
    }
    .section-welcome-text-about {
        font-size: 15px;
    }
    .section-content-newss .section-title::after {
        bottom: -8px;
    }
    .counter_comments {
        color: #6e6e6e;
        margin-right: 0;
        margin-left: 15px;
        margin-top: 0;
    }
    .news-post .news-img-wrap {
        max-width: 110px;
        min-width: 110px;
        margin-right: 10px;
    }
    .news-post .news-info {
        max-width: 220px;
    }
    .video-js .vjs-big-play-button {
    }
    .block_1 {
        flex: 1 0 50%;
        margin-bottom: 20px;
    }
    .books-col-right {
        padding-left: 15px;
    }
    .form-comments-email-wrap-blog {
        margin-bottom: 10px;
    }
    /*label.error-input {
        */
    /*float: left !important;
    */
    /*
}
*/
    .news-press-center .btn_comment_id {
        float: left !important;
    }
    .press-center-contact .justify-content-center {
        justify-content: left !important;
    }
    .section-indents-smd .justify-content-end {
        justify-content: left !important;
    }
    .main-training-content .btn-services {
        margin-left: 0;
    }
    .video-wrap {
        height: 70vw;
    }
    .background_color_404 .schedule-nb {
        display: block;
    }
    .h1-404 {
        font-size: 50vw;
    }
    .error-text2 {
        font-size: 8vw;
    }
    .error-text3 {
        font-size: 14px;
    }
    .comments-video .comments-video-wrap .vjs-big-play-button {
        left: 50% !important;
        top: 50% !important;
    }
    .newss-post-wrap iframe {
        width: 100%;
    }
    .news-press-center {
        padding: 3px 31px;
    }
    .shedule-h2 {
        margin-bottom: 25px;
        margin-top: -15px;
        font: 24px/57px "ProximaNova Light";
    }
    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        left: 80% !important;
        top: -240px !important;
        right: 0 !important;
        width: 100% !important;
    }
    .slider-a-margin a {
        margin-right: 4px;
    }
    .counter {
        text-align: left;
        color: #6e6e6e;
        top: 10px;
        margin-top: -30px;
        position: relative;
        right: 0;
    }
}
@media (max-width: 357px) {
    .btn-add-comment {
        font: 14px/22px "ProximaNova Regular";
        padding: 10px 15px;
    }
}
@media (max-width: 320px) {
    .news-post .news-img-wrap {
        max-width: 80px;
        min-width: 80px;
        margin-right: 10px;
    }
    .news-post .news-info {
        max-width: 160px;
    }
    .modal-title {
        font: 30px/40px "ProximaNova Light";
    }
    .comments-video .comments-video-wrap .vjs-big-play-button {
        left: 50% !important;
        top: 50% !important;
    }
    .sidebar-text {
        top: 30px;
    }
    .footer-col .footer-title {
        margin-left: 50px;
    }
    .btn-add-comment {
        font: 12px/23px "ProximaNova Regular";
        padding: 10px 12px;
    }
    .video-js .vjs-big-play-button {
        font-size: 0em !important;
    }
    .video-big-about .video-js .vjs-big-play-button {
        width: 60px !important;
        height: 60px !important;
        top: 56% !important;
    }
    .vjs-big-play-button img {
        padding-top: 0px !important;
        padding-left: 5px !important;
    }
    .section-nav li {
        margin-right: 0px;
    }
    .section-welcome-text-about {
        font-size: 14px;
    }
    .section-welcome-title-blog {
        text-align: left;
        font-size: 55px;
    }
    .justify-content-end {
        justify-content: left !important;
    }
    .schedule-text li::after {
        margin-left: 2px;
    }
    .schedule-text li {
        margin-right: 6px;
    }
    .section-welcome-title {
        text-align: left;
        font: 35px/44px "ProximaNova Thin";
    }
    .section-welcome-title-schedule {
        font: 47px/62px "ProximaNova Thin";
        text-align: left;
    }
    .news-press-center .btn-more_info {
        font: 13px/26px "ProximaNova Semibold";
        padding: 3px 17px;
    }
}
.checknapidora:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    height: 1px;
    border-bottom: 1px #6e6e6e dotted;
}
.checknapidora {
    position: relative;
    color: #6e6e6e;
}
.subscribe-section{
    background-color: #f3f3f3;
    padding: 60px 0;
    position: relative;
}
.subscribe-section p{
    font-size: 18px;
    line-height: 1.6em;
}
.subscribe-section i{
    font-style: italic;
}
.subscribe-section strong{
    font-family: "ProximaNova Bold", sans-serif;
    font-size: 20px;
}
.subscribe-form{
    position: relative;
    height: 48px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0 10px;
}
.subscribe-form input{
    width: 100%;
    height: 100%;
    padding: 0 170px 0 15px;
    border-radius: 5px;
    border: 1px solid #5e5e5e;
}
.subscribe-form button{
    font: 14px/37px "ProximaNova Regular";
    text-transform: uppercase;
    border-radius: 5px;
    padding: 3px 21px;
    color: #fff;
    background: #00bcac;
    border: 1px solid #00bcac;
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.subscribe-form button:href {
    color: red;
}

.subscribe-form + p{
    font-size: 16px;
}
.subscribe-section .photo{
    height: 95%;
    min-height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
}
.subscribe-section .photo img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: bottom right;
}
.subscribe-section ul{
    padding: 15px 5px;
}
.subscribe-section li{
    line-height: 1.6em;
}
@media (max-width: 992px) {
    .subscribe-section .photo{
        position: relative;
        margin: 0 auto;
        padding: 10px 0;
        min-height: 360px;
        height: 10vh;
        width: 100%;
    }
    .subscribe-section .photo img{
        object-position: center bottom;
    }
    .subscribe-section .text{
        max-width: 460px;
        margin: 0 auto;
    }
}
