@media screen and (max-width:1850px) {
    .order input[type="text"] {
        width: 25%;
        height: 56px;
    }

    .order input[type="submit"] {
        width: 25%;
        height: 56px;
    }

    .order {
        height: 420px;
    }

}

@media screen and (max-width:1600px) and (min-width: 1300px) {
    .foot_menu div h5 {
        margin-top: 45px;
    }

    .foot_menu > div {
        height: 271px;
        padding-left: 51px;
    }

    .content .order_trening input[type="text"] {
        width: 494px;
        height: 42px;
    }

    .content .order_trening textarea {
        width: 494px;
        height: 100px;
    }

    .order_trening .checkbox {
        width: 534px;
        display: inline-block;
        vertical-align: top;
    }

    .selectBox-dropdown {
        min-width: 534px;
        height: 42px;
    }

    .order_trening .captha {
        width: 534px;
        display: inline-block;
        vertical-align: top;
    }

    .order_trening .captha .img_capt, .order_trening .captha .img_capt div {
        width: 180px;
    }

    .order_trening .captha input[type="text"] {
        width: 215px;
        height: 52px;
    }

    .selectBox-dropdown .selectBox-label {
        height: 42px;
    }

    input[type="checkbox"] + label::before {
        height: 20px;
        width: 20px;
    }

    .books .item .img {
        display: table-cell;
        width: 230px;
        vertical-align: top;
        text-align: center;
    }

    .books .item .img img {
        max-width: 191px;
    }

    .books .item {
        padding: 20px 0 10px
    }

    .banners {
        display: table-cell;
        width: 254px;
        vertical-align: top;
    }


    .banners a img {
        float: right;
        margin-bottom: 25px;
        max-width: 240px;
    }

    .books .item p {
        padding-right: 20px;
    }

    .buttons > div a {
        width: 426px;
        height: 60px;
        border-radius: 4px;
        background-color: #2cc17b;
        display: inline-block;
        text-decoration: none;
    }

    .buttons > div a div {
        display: table-cell;
        width: 426px;
        height: 60px;
        vertical-align: middle;
        text-align: center;
        font-size: 25px;
        color: #fff;
        font-family: 'MuseoSansCyrl-500', sans-serif;
        text-transform: uppercase;
    }


	.button_g {
        width: 426px;
        height: 60px;
        border-radius: 4px;
        background-color: #2cc17b;
        display: block;
        text-decoration: none;
        margin: 50px auto;
    }

    .button_g div {
        display: table-cell;
        width: 426px;
        height: 60px;
        vertical-align: middle;
        text-align: center;
        font-size: 25px;
        color: #fff;
        font-family: 'MuseoSansCyrl-500', sans-serif;
    }

    .press-kit .desc {
        margin-top: 40px;
    }

    .about_ord .dm_norca {
        margin-right: -13px;
    }


    .right_col_pr a img {
        float: right;
        margin-bottom: 25px;
        max-width: 240px;
    }

    .right_col_pr {
        display: table-cell;
        width: 254px;
        vertical-align: top;
    }

    .no_padding .books .item .text {
        padding-left: 20px;
    }

    .buttons_social a, .buttons_social a div {
        width: 254px;
        height: 44px;
		font-size: 14px;
    }

    .buttons_social {
        margin: 25px 0;
    }

    .comments textarea {
        width: 90%;
    }

    .tips_i .desc_t {
        padding-top: 20px;
    }

    .tips_i .inf_t {
        margin-top: 25px;
    }

    .tips_i li {
        margin-bottom: 35px;
        padding-bottom: 25px;
    }

    .contacts_form form {
        width: 90%;
    }

    .contacts_form input[type="text"], .contacts_form textarea {
        width: 59%;
    }

    .contacts_inf {
        font-size: 1.25vw;
    }

    .cap_img {
        width: 180px;
    }

    .contacts_form .reload {
        margin: 0 10px;
    }

    .cap_i {
        width: 23% !important;
    }
}

@media screen and (min-width:1px) and (min-width: 0) {
    .logo {
        margin-left: 35px;
		margin-top: 41px;
        width: 240px;
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .right_head {
        margin-right: 35px;
    }

    .foot_menu div h5 {
        margin-top:45px;
    }

    .foot_menu > div {
        height: 271px;
        padding-left: 45px;
    }

    .content .order_trening input[type="text"] {
        width: 494px;
        height: 42px;
    }

    .content .order_trening textarea {
        width: 494px;
        height: 100px;
    }

    .order_trening .checkbox {
        width: 534px;
        display: inline-block;
        vertical-align: top;
    }

    .selectBox-dropdown {
        min-width: 534px;
        height: 42px;
    }

    .order_trening .captha {
        width: 534px;
        display: inline-block;
        vertical-align: top;
    }

    .selectBox-dropdown .selectBox-label {
        height: 42px;
    }

    input[type="checkbox"] + label::before {
        height: 20px;
        width: 20px;
    }

    .content .inp_cont {
        padding-left: 20px;
        width: 350px;
    }

    .order_trening .captha {
        width: 534px;
        display: inline-block;
        vertical-align: top;
    }

    .order_trening .captha .img_capt, .order_trening .captha .img_capt div {
        width: 180px;
    }

    .order_trening .captha input[type="text"] {
        width: 215px;
        height: 52px;
    }

    .books .item .img {
        display: table-cell;
        width: 230px;
        vertical-align: top;
        text-align: center;
    }

    .books .item .img img {
        max-width: 191px;
    }

    .books .item {
        padding: 20px 0 10px
    }

    .banners {
        display: table-cell;
        width: 254px;
        vertical-align: top;
    }


    .right_col_pr a img {
        float: right;
        margin-bottom: 25px;
        max-width: 240px;
    }

    .right_col_pr {
        display: table-cell;
        width: 254px;
        vertical-align: top;
    }


    .banners a img {
        float: right;
        margin-bottom: 25px;
        max-width: 240px;
    }

    .books .item p {
        padding-right: 20px;
    }

    .buttons > div a {
        width: 326px;
        height: 50px;
        border-radius: 4px;
        background-color: #2cc17b;
        display: inline-block;
        text-decoration: none;
    }

    .buttons > div a div {
        display: table-cell;
        width: 326px;
        height: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-family: 'MuseoSansCyrl-500', sans-serif;
        text-transform: uppercase;
    }

    .coop_training > div p  {
        font-size: 1.5vw;
    }

    .foot_inf li {
        font-size: 1.2vw;
    }

    .breadcrumbs {
        font-size: 14px;
    }

    .press-kit .desc {
        margin-top: 40px;
    }

    .button_g {
        width: 326px;
        height: 50px;
        border-radius: 4px;
        background-color: #2cc17b;
        display: block;
        text-decoration: none;
        margin: 50px auto;
    }

    .button_g div {
        display: table-cell;
        width: 326px;
        height: 50px;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-family: 'MuseoSansCyrl-500', sans-serif;
    }

    .about_ord .dm_norca {
        margin-right: -13px;
    }

    .no_padding .books .item .text {
        padding-left: 20px;
    }

    .comments textarea {
        width: 90%;
    }

    .buttons_social a, .buttons_social a div {
        width: 30%;
        height: 44px;
		font-size: 14px;
    }

    .contacts_form form {
        width: 90%;
    }
	
	.contacts_form input[type="text"] {
		height: 35px;
	}

    .contacts_form input[type="text"], .contacts_form textarea {
        width: 59%;
    }

    .contacts_inf {
        font-size: 1.25vw;
    }

    .cap_img {
        width: 180px;
    }

    .contacts_form .reload {
        margin: 0 10px;
    }

    .cap_i {
        width: 23% !important;
    }
}

@media screen and (min-width:1px) {
    .logo {
        margin-left: 20px;
    }

    .right_head {
        margin-right: 20px;
    }

    .content {
        padding: 0 20px;
    }

    .breadcrumbs {
        margin-left: 20px;
		margin-top: 25px;
    }

    .about_ord .about_button {
        position: absolute;
    }

    .cap_i {
        width: 10% !important;
		height: 50px !important;
        margin-top: 25px;
    }
	

}

@media screen and (min-width:1px) {
    .books .item p, .council div p, .content .inp_cont, .selectBox-dropdown,
    input[type="checkbox"] + label, input[type="radio"] + label, .foot_menu div > div, .coop_training > div p, .press-kit .desc,
    .programm_traning p, .contacts_inf, .contacts_form form {
        font-size: 14px !important;
    }
	
	.tips_i .title_t {
		font-size: 17px;
	}

    .books .item .more, .right_col_pr li a, .tips_i .desc_t, .tips_i .inf_t, .foot_menu div > div a,
    .foot_menu div ul li, .foot_inf li {
        font-size: 13px;
    }

    .books .item h3, .foot_menu div h5, .about_ord span, .about_ord, .t_cont span {
        font-size: 17px;
    }
	
	.foot_menu div h5 {
		padding-bottom: 10px;
	}
	
	.slider_part .swiper-slide div img {
		max-width: 200px;
	}
	
	.order h3 {
		font-size: 29px;
		padding-top: 64px;
	}

    .content h1, .page404 h4 {
        font-size: 16px;
    }
	
	.order h4 {
		font-size: 18px;
	}
	
	.order input[type="submit"] {
		font-size: 18px;
		width: 250px;
		height: 45px;
		margin-left: 0;
	}
	
	.order input[type="text"] {
		font-size: 16px;
		width: 217px;
		height: 41px;
		margin-left: 0;
	}
	
	.order {
		height: 311px;
	}

    footer .copy {
        font-size: 12px !important;
    }

    .t_cont p {
        font-size: 60px;
    }
	
	nav ul li a, .menu_norka li a {
		font-size: 16px !important;
	}
	
	.right_head {
		margin-top: 67px;
	}
	
	.tips_i .desc_t {
		font-size: 14px;
		line-height: 1.2em;
	}
	
	.coop_training h3, .content h1 {
		font-size: 19px;
	}
	
	.books .buttons {
		display: table;
		width: 100%;
		margin-left: 3px;
	}
	
	.books .buttons > div a {
	    width: 334px;
        height: 60px;
        border-radius: 4px;
        background-color: #2cc17b;
        display: inline-block;
        text-decoration: none;
	}
	
	.books .buttons > div a div {
        display: table-cell;
        width: 334px;
        height: 60px;
        vertical-align: middle;
        text-align: center;
        font-size: 20px;
        color: #fff;
        font-family: 'MuseoSansCyrl-500', sans-serif;
        text-transform: uppercase;
    }
	
	.buttons > div:first-child {
		padding-right: 0;
	}
	
	
	header:after {
		content: '';
		height: 1px;
		width: 96%;
		background: #ccc;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	
	.about_ord {
		font-size: 16px;
	}
	
	.about_button a, .about_button a div {
		width: 303px !important;
	}
}

/*
@media screen and (min-width:1920px) {
	.menu_norka li a, .books .item h3, .council div p, .tips_i .title_t, .content .inp_cont, .selectBox-dropdown,
    input[type="checkbox"] + label, input[type="radio"] + label, .coop_training > div p, .press-kit .desc,
    .programm_traning p, .contacts_inf, .contacts_form form {
        font-size: 22px !important;
    }

    .books .item p, .books .item .more, .right_col_pr li a, .tips_i .desc_t, .tips_i .inf_t {
        font-size: 17px;
    }

    .foot_menu div h5, .about_ord span, .about_ord, .t_cont span, .menu_norka li a {
        font-size: 29px !important;
    }
	
	.foot_menu div > div, .foot_menu div > div a,
    .foot_menu div ul li, .foot_inf li  {
		font-size: 20px !important;
	}
	
	.foot_inf li  {
		font-size: 17px !important;
	}

    .content h1, .page404 h4 {
        font-size: 16px;
    }

    footer .copy {
        font-size: 17px !important;
    }

    .t_cont p {
        font-size: 50px;
    }
	
	nav ul li a, .order h4, .order input[type="text"], .order input[type="submit"] {
		font-size: 29px;
	}
	
	.order h3 {
		font-size: 50px;
	}
}*/