html, body {
    min-width: 1000px;
background: #29333e;
    font-family: Arial, sans-serif;
    color: #38434e;
    width: 100%;
}

b {
    font-weight: bold;
}

header {
    width: 100%;
    height: 150px;
    background-color: #fff;
	position: relative;
}

.norca {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

.logo {
    background: url('../img/logo.png');
    width: 358px;
    height: 102px;
    float: left;
    margin-left: 80px;
    margin-top: 70px;
    display: block;
    text-decoration: none;
}

nav {

}

.right_head {
    float: right;
    margin-right: 80px;
    margin-top: 110px;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
    padding: 0 10px 8px 10px;
}

nav ul li a {
    font-size: 1.58vw;
    color: #38434e;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    text-decoration:  none;
}

nav ul li a:hover, .menu_norka li a:hover {
	color: #2cc17b;
}

nav ul li .active:hover, .menu_norka li .active:hover {
	color: #38434e;
}

nav ul .active {
    border-bottom: 5px solid #2cc17b;
	padding-bottom: 3px;
}

.social {
    float: right;
    margin-top: 13px;
    margin-right: 10px;
}

.social li {
    display: inline-block;
    vertical-align: middle;
}

.social .msg {
    background: url('../img/social/acti.png') -26px -23px;
    width: 23px;
    height: 14px;
    display: block;
}

.social .home {
    background: url('../img/social/acti.png') 0 -21px;
    width: 22px;
    height: 18px;
    display: block;
}

.social .map {
    background: url('../img/social/acti.png') -54px -22px;
    width: 23px;
    height: 15px;
    display: block;
    margin-right: 10px;
}

.social .msg:hover {
	background-position: -26px -2px;
}

.social .home:hover {
	background-position: 0 0;
}

.social .map:hover {
	background-position: -54px -1px;
}

.social .in {
    background: url('../img/social/in_1.png');
    width: 28px;
    height: 28px;
    display: block;
}

.social .in:hover {
    background: url('../img/social/in_2.png');
    width: 28px;
    height: 28px;
    display: block;
    
}

.social .fb {
    background: url('../img/social/social_h.png') 0 -32px;
    width: 27px;
    height: 28px;
    display: block;
}

.social .fb:hover {
    background-position: 0 0;
}

.social .tw {
    background: url('../img/social/social_h.png') -28px -28px;
    width: 28px;
    height: 28px;
    display: block;
}

.social .tw:hover {
    background-position: -28px 0;
}

.social .vk {
    background: url('../img/social/social_h.png') -57px -32px;
    width: 28px;
    height: 28px;
    display: block;
}

.social .vk:hover {
    background-position: -57px 0;
}

.social .ok {
    background: url('../img/social/social_h.png') -86px -32px;
    width: 28px;
    height: 28px;
    display: block;
}

.social .ok:hover {
    background-position: -86px -2px;
}

.slider_part {
    height: 150px;
    border-top: 1px dashed #ccc;
    position: relative;
}

.slider_part .swiper-container {
    width: 90%;
    height: 150px;
    color: #000;
    text-align: center;
}

.slider_part .swiper-slide {
    text-align: center;
}

.slider_part .swiper-slide div {
    display: table-cell;
    height: 150px;
    vertical-align: middle;
    text-align: center;
    width: 350px;
}
.slider_part .pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}
.slider_part .swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.slider_part .swiper-visible-switch {
    background: #aaa;
}
.slider_part .swiper-active-switch {
    background: #fff;
}

.slider_part .arrow-left {
    background: url('../img/arrows_slider.png') no-repeat left top;
    position: absolute;
    left: 27px;
    top: 50%;
    margin-top: -21px;
    width: 27px;
    height: 43px;
}
.slider_part .arrow-right {
    background: url('../img/arrows_slider.png') no-repeat right top;
    position: absolute;
    right: 27px;
    top: 50%;
    margin-top: -21px;
    width: 27px;
    height: 43px;
}

.slider_part .arrow-left:hover {
    background-position: bottom left;
}

.slider_part .arrow-right:hover {
    background-position: bottom right;
}

.order {
    background: #283038;
    background: -moz-linear-gradient(top,  #283038 0%, #2c445c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#283038), color-stop(100%,#2c445c));
    background: -webkit-linear-gradient(top,  #283038 0%,#2c445c 100%);
    background: -o-linear-gradient(top,  #283038 0%,#2c445c 100%);
    background: -ms-linear-gradient(top,  #283038 0%,#2c445c 100%);
    background: linear-gradient(to bottom,  #283038 0%,#2c445c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#283038', endColorstr='#2c445c',GradientType=0 );
    height: 465px;
}

.order h3 {
    font-size: 3.3vw;
    color: #fff;
    font-family: MuseoSansCyrl-500,sans-serif;
    margin-left: 82px;
    padding-top: 101px;
}

.order h4 {
    font-size: 1.3vw;
    color: #fff;
    font-family: MuseoSansCyrl-500,sans-serif;
    margin-left: 82px;
    margin-top: 40px;
}

.order form {
    margin-left: 82px;
    margin-top: 60px;
}

.order input[type="text"] {
    width: 508px;
    padding: 0 25px;
    height: 70px;
    -webkit-box-shadow: inset 11px 11px 30px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: inset 11px 11px 30px 0 rgba(0, 0, 0, 0.19);
    box-shadow: inset 11px 11px 30px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #a0a0a0;
    background-color: #2b4054;
    font-size: 1.6vw;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    color: #d3d3d3;
    margin-right: 34px;
}

.order input[type="submit"] {
    background: #fb7e65;
    background: -moz-linear-gradient(top,  #fb7e65 0%, #f46043 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb7e65), color-stop(100%,#f46043));
    background: -webkit-linear-gradient(top,  #fb7e65 0%,#f46043 100%);
    background: -o-linear-gradient(top,  #fb7e65 0%,#f46043 100%);
    background: -ms-linear-gradient(top,  #fb7e65 0%,#f46043 100%);
    background: linear-gradient(to bottom,  #fb7e65 0%,#f46043 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb7e65', endColorstr='#f46043',GradientType=0 );
    -webkit-box-shadow: -3px 4px 5px 0 rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -3px 4px 5px 0 rgba(0, 0, 0, 0.45);
    box-shadow: -3px 4px 5px 0 rgba(0, 0, 0, 0.45);
    width: 523px;
    height: 78px;
    border: 0;
    border-radius: 25px;
    outline: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.95);
    color: #fff;
    text-transform: uppercase;
    font-family: MuseoSansCyrl-500,sans-serif;
    font-size: 1.6vw;
    margin-left: 28px;
}

.foot_menu {
    display:table;
    width: 100%;
}

.foot_menu > div {
    display: table-cell;
    height: 480px;
    background-color: #e0e0de;
}

.d_norca {
    width: 25%;
}

.trening {
    width: 25%;
}

.tips {
    width: 30%;
}

.pressroom {
    width: 20%;
}

.foot_menu div h5 {
    font-size: 2vw;
    color: #41474e;
    font-family: MuseoSansCyrl-500,sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 3px solid #2cc17b;
    display: inline-block;
    margin-top: 121px;
    margin-bottom: 20px;
}

.foot_menu > div {
    padding-left: 70px;
    position: relative;
}

.foot_menu div ul li {
    font-size: 1.3vw;
    padding-bottom: 15px;
}

.foot_menu div ul li a {
    color: #283038;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    text-decoration: none;
}

.foot_menu div ul li a:hover {
    text-decoration: underline;
}

.foot_menu div > div {
    color: #283038;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 1.3vw;
}

.foot_menu div > div a {
    font-family: Arial,sans-serif;
    font-size: 1vw;
    font-style: italic;
    color: #29b673;
    text-decoration: none;
    float: right;
    margin: 20px 4em 0 0;
}

.foot_menu > div:hover {
    background-color: #fff;
}

.foot_menu > div:hover:after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 93px;
    right: -15px;
    transform: rotate(45deg);
    z-index: 999;
}

.foot_menu > div:last-child:hover:after {
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.foot_menu > div:last-child:hover:before {
    content: '';
    width: 30px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 93px;
    left: -15px;
    transform: rotate(45deg);
    z-index: 999;
}

.foot_inf li {
    display: table-cell;
    border: 1px solid #cdcdcd;
    background-color: #e0e0de;
    height: 99px;
    width: 33.3%;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 0.85vw;
    padding: 30px 45px;
}

.foot_inf li:nth-child(2) {
    background-color: #cdcdcd;
    width: 33.4%;
}

footer .copy {
    height: 93px;
    background-color: #2d3c48;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 1vw;
    position: relative;
    width: 100%;
    display: table;
	    color: #7c7c7c;
}

footer .copy a {
	color: #7c7c7c;
	text-decoration: none;
}

footer .copy li {
    width: 33.3%;
    display: table-cell;
    height: 93px;
    vertical-align: middle;
    text-align: center;
}

footer .copy p {
    float: left;
    text-align: left;
    margin-left: 44px;
}

footer .copy span {
    width: 230px;
    display: inline-block;
    text-align: right;
	padding-right: 10px;
	vertical-align: middle;
}

footer .copy .ritg {
    float: right;
    text-decoration: none;
    color: #7c7c7c;
    margin-right: 45px;
    width: 100%;
    text-align: right;
}

footer .copy .ritg b {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
    font-weight: 500;
}

footer .copy .ritg .logo_ritg {
    background: url('../img/ritg.png') left top;
    width: 42px;
    height: 72px;
    display: inline-block;
    vertical-align: middle;
}

footer .copy .ritg a:hover .logo_ritg {
	background-position: right top;
}

.content {
   padding: 0 82px;
}

.content h1 {
    text-align: center;
    font-size: 2.35vw;
    color: #38434e;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    margin-top: 50px;
}

.breadcrumbs {
    margin-left: 82px;
    font-size: 18px;

}

.breadcrumbs li {
    display: inline;
    font-style: italic;
    color: #a3a3a3;
}

.breadcrumbs li a {
    color: #38434e;
    text-decoration: none;
}

.breadcrumbs li a:hover {
    text-decoration: underline;
}

.breadcrumbs li:after {
    content: ' / ';
    color: #38434e;
}

.breadcrumbs li:last-child:after {
    content: ''
}

.content .inp_cont {
    padding-left: 63px;
    width: 480px;
    font-size: 1.3vw;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    display: inline-block;
    vertical-align: top;
    color: #38434e;
    margin-top: 15px;
}

.content .inp_cont span {
    color: #ff7256;
}

.order_trening {
    margin-top: 60px;
}

.order_trening > div {
    margin-bottom: 18px;
}

.content .order_trening input[type="text"] {
    width: 694px;
    height: 52px;
    padding: 0 20px;
    background-color: #f5f7fb;
    border: 1px solid #9099b2;
    border-radius: 5px;
    outline: none;
    vertical-align: top;
    font-size: 1.3vw;
    font-family: 'MuseoSansCyrl-500', sans-serif;
}

.content .order_trening textarea {
    width: 694px;
    height: 130px;
    padding: 20px;
    background-color: #f5f7fb;
    border: 1px solid #9099b2;
    border-radius: 5px;
    outline: none;
    resize: none;
    vertical-align: top;
    font-size: 1.3vw;
    font-family: 'MuseoSansCyrl-500', sans-serif;
}

.order_trening .checkbox {
    width: 734px;
    display: inline-block;
    vertical-align: top;
}

.order_trening .checkbox > div {
    margin-bottom: 17px;
}

input[type="checkbox"],
input[type="radio"] {
    display:none;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    font-size: 1.3vw;
    color: #38434e;
    cursor: pointer;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    vertical-align: middle;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 31px;
    width: 31px;
    margin: 0 25px 0 0;
    border: 1px solid #9099b2;
    border-radius: 2px;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before{
    background-color: #f5f7fb;
}

input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
    background: url('../img/checkbox.png') 50% 50%;
    background-size: 100%;
}

.order_trening .captha {
    width: 734px;
    display: inline-block;
    vertical-align: top;
}

.order_trening .captha input[type="text"] {
    width: 356px;
    vertical-align: middle;
    float: right;
}

.order_trening .captha .reload, .contacts_form .reload {
    background: url('../img/reload.png');
    width: 55px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 13px;
}

.order_trening .captha .img_capt {
    width: 240px;
    border: 1px solid #9099b2;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 52px;
}

.order_trening .captha .img_capt div {
    width: 240px;
    height: 52px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.order_trening input[type="submit"] {
    width: 27.3vw;
    height: 4.1vw;
    background-color: #2cc17b;
    font-size: 1.55vw;
    color: #fff;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    border: 0;
    border-radius: 4px;
    display: inline-block;
    outline: none;
    text-transform: uppercase;
}

.menu_norka {
    margin-top: 55px;
    margin-bottom: 30px;
}

.menu_norka li {
    display: inline-block;
    margin-left: 25px;
    padding: 0 10px 8px 10px;
}

.menu_norka li:first-child {
    margin-left: 0;
}

.menu_norka li a {
    font-size: 1.58vw;
    color: #38434e;
    font-family: 'MuseoSansCyrl-500',sans-serif;
    text-decoration:  none;
}

.menu_norka .active {
    border-bottom: 5px solid #2cc17b;
	padding-bottom: 3px;
}

.banners {
    display: table-cell;
    width: 394px;
    vertical-align: top;
}

.books {
    display: table-cell;
    vertical-align: top;
	padding-left:20px;
}

.books .item {
    display: block;
    position: relative;
    border-bottom: 1px solid #c8ced4;
    padding: 60px 0 30px;
    text-decoration: none;
}

.books .item .img {
    display: table-cell;
    width: 430px;
    vertical-align: top;
    text-align: center;
}

.books .item .img img {
    max-width: 311px;
}

.books .item .text {
    display: table-cell;
    vertical-align: top;
	padding-bottom: 10px;
	padding-left: 15px;
}

.books .item .more {
    float: right;
}

.books .item:after {
    display: block;
    position: relative;
    clear: both;
}

.books .item:last-child {
    border-bottom: 0;
}

.books .item:hover {
    background-color: #f0fbf6;
}

.books .item h3 {
    font-size: 1.55vw;
    color: #38434e;
    font-weight: bold;
    margin-bottom: 14px;
}

.books .item h3 a {
	color: #38434e;
	text-decoration: none;
}

.books .item h3 a:hover {
	text-decoration: none;
}

.books .item p {
    font-size: 1.3vw;
    color: #38434e;
    line-height: 1.4em;
}

.clear_float {
    clear: both;
}

.books .item .more {
    font-size: 1.25vw;
    color: #2cc17b;
    text-decoration: underline;
    font-style: italic;
    margin-right: 28px;
}

.books .item .more:hover {
    text-decoration: none;
}

.banners a img {
    float: right;
    margin-bottom: 25px;
}

.content {
    margin-bottom: 25px;
}

.coop_training h1 {
    text-align: left;
}

.coop_training h3 {
    font-size: 1.58vw;
    margin: 65px 0 35px;
    color: #38434e;
}

.coop_training > div {
    margin-bottom: 50px;
    color: #38434e;
}

.coop_training > div p {
    font-size: 1.05vw;
    line-height: 1.4em;
}

.buttons {
    display: table;
    width: 100%;
    margin-left: -25px;
}

.buttons > div {
    display: table-cell;
    width: 50%;
}

.buttons > div:first-child {
    text-align: right;
    padding-right: 35px;
}

.buttons > div:last-child {
    text-align: left;
    padding-left: 35px;
}

.buttons > div a {
    width: 526px;
    height: 80px;
    border-radius: 4px;
    background-color: #2cc17b;
    display: inline-block;
    text-decoration: none;
}

.buttons > div a div {
    display: table-cell;
    width: 526px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    text-transform: uppercase;
}

.coop_training {
    margin-left: 50px;
}

.screen {
    display: table;
    width: 100%;
}

.screen div {
    display: inline-block;
    width: 25%;
}

.screen div img {
    width: 99%;
}

.press-kit .desc {
    padding-left: 10px;
    font-size: 1.3vw;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    color: #38434e;
    margin-top: 80px;
    line-height: 1.4em;
}

.button_g {
    width: 526px;
    height: 80px;
    border-radius: 4px;
    background-color: #2cc17b;
    display: block;
    text-decoration: none;
    margin: 50px auto;
}

.button_g div {
    display: table-cell;
    width: 526px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'MuseoSansCyrl-500', sans-serif;
}

.clients {
    width: 520px;
    margin-left: 22px;
    color: #38434e;
}

.clients ul li {
    margin-top: 34px;
}

.clients ul li h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 22px;
}

.clients ul li p {
    font-size: 22px;
    font-style: italic;
    margin-bottom: 22px;
}

.clients ul li a {
    color: #329966;
    font-size: 22px;
    margin-bottom: 22px;
    display: inline-block;
	cursor: default;
}

.clients ul li .point {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #329966;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 25px;
}

.clients ul li .cont {
    display: inline-block;
    vertical-align: top;
}

.open_traning {
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 25px;
    color: #38434e;
}

.open_traning h4 {
    color: #fb7e65;
    font-weight: bold;
    margin-bottom: 25px;
}

.open_traning p {
    margin-bottom: 12px;
}

.button_g.tr {
    margin: 40px 0 75px;
    text-transform: uppercase;
}

.kouch p {
    margin-top: 25px;
}

.programm_traning {
    display: table-cell;
}

.right_col_pr {
    display: table-cell;
    width: 405px;
}

.programm_traning h1 {
    font-size: 1.8vw;
    text-align: left;
    margin-top: 0;
}

.programm_traning h3 {
    font-size: 1.25vw;
    color: #b8b8b8;
    margin-top: 15px;
}

.programm_traning h2 {
    font-size: 28px;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    margin: 45px 0 35px;
}

.programm_traning p {
    font-size: 1.2vw;
    line-height: 1.3em;
    margin-bottom: 10px;
}

.programm_traning .green_point {
    color: #2cc17b;
}

.right_col_pr li a {
    color: #38434e;
    font-size: 1.5vw;
    line-height: 1.3em;
}

.right_col_pr li {
    display: block;
    margin-bottom: 20px;
    padding-left: 40px;
}

.right_col_pr .social_b img {
    width: 100%;
}

.right_col_pr li a:hover {
    color: #2cc17b;
    text-decoration: none;
}

.right_col_pr .links {
    font-family: 'MuseoSansCyrl-500', sans-serif;
}

.no_padding {
    padding: 0 !important;
    margin: 0 !important;
}

.no_padding .menu_norka {
    margin-left: 20px;
}

.video {
    position: relative;
}

.video iframe {
    width: 100%;
    height: 100%;
}

.box{
    position: relative;
}
.box:before{
    content: "";
    display: block;
    padding-top: 100%; 	/* initial ratio of 1:1*/
}

.content_v{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.ratio16_9:before{
    padding-top: 56.25%;
}

.video .more_video {
    width: 355px;
    height: 53px;
    background: rgba(44, 193, 123, 0.5);
    display: block;
    position: absolute;
    bottom: 35px;
    right: 42px;
    border-radius: 5px;
    text-decoration: none;
	z-index: 12;
}

.video .more_video.subscribe {
	left: 42px;
}

.video .more_video div {
    width: 355px;
    height: 53px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-500', sans-serif;
}

.experience {
    height: 265px;
    display: table;
    width: 100%;
    background: #2c445c; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c445c 0%, #283038 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c445c), color-stop(100%,#283038)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2c445c 0%,#283038 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2c445c 0%,#283038 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2c445c 0%,#283038 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2c445c 0%,#283038 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c445c', endColorstr='#283038',GradientType=0 ); /* IE6-9 */

}

.t_cont {
    display: table-cell;
    color: #fff;
}

.t_cont p {
    font-size: 5.2vw;
    text-align: center;
    color: #fb7e65;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    margin-top: 60px;
}

.t_cont span {
    display: block;
    height: 125px;
    text-align: center;
    font-size: 1.25vw;
    text-transform: uppercase;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    margin-top: 40px;
    line-height: 1.2em;
}

.about_ord {
    height: 434px;
    background-color: #ededed;
    padding-left: 40px;
    font-size: 1.57vw;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    line-height: 1.3em;
    padding-top: 60px;
}

.about_ord a {
    color: #38434e;
    text-decoration: none;
}

.about_ord p {
    padding-top: 35px;
}

.about_ord a:hover {
    text-decoration: underline;
}

.about_ord .dm_norca {
    background: url('../img/d_norca.png') no-repeat;
    width: 363px;
    height: 545px;
	background-size: 100%;
    float: right;
    margin-top: -111px;
    margin-right: -13px;
}

.about_ord .about_button {
    width: auto;
    margin-top: 30px;
    margin-left: -50px;
}

.about_ord .about_button a:hover {
    text-decoration: none;
}

.about_ord span {
    color: #229f65;
    font-size: 1.83vw;
    font-weight: bold;
}

.no_padding .books .item {
    padding-left: 82px;
    padding-bottom: 0;
    border: 0;
}

.no_padding .books .item .clear_float {
    border-bottom: 1px solid #c8ced4;
    padding-bottom: 20px;
}

.no_padding .books .item .more {
    margin-top: 14px;
}

.no_padding .books .item:last-child .clear_float {
    border-bottom: 0;
}

.pad_right {
    margin-right: 82px !important;
}

.no_padding .books .item .text {
    padding-right: 15px;
    padding-left: 50px;
}

.no_padding .books .item:hover {

}

.books .item .more:hover {
    color: #ff7256;
}

.programm_traning .warning {
    border-left: 15px solid #fb7e65;
    padding: 20px 0 20px 40px;
	margin-bottom: 20px;
}

.page404 {
    background: #2c445c; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c445c 0%, #283038 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c445c), color-stop(100%,#283038)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2c445c 0%,#283038 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2c445c 0%,#283038 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2c445c 0%,#283038 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2c445c 0%,#283038 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c445c', endColorstr='#283038',GradientType=0 ); /* IE6-9 */
    padding: 90px 0;
}

.page404 h2, .page404 h3, .page404 h4 {
    text-align: center;
    color: #fff;
    font-family: 'MuseoSansCyrl-500', sans-serif;
}

.page404 h2 {
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.page404 h3 {
    text-shadow: -4px 3px 5px rgba(0, 0, 0, 0.75);
    color: #339966;
    font-size: 252px;
    margin-bottom: 30px;
}

.page404 h4 {
    font-size: 1.53vw;
    line-height: 1.3em;
}

.council {
    display: table-cell;
    vertical-align: top;
    padding-left: 82px;
}

.council h1 {
    text-align: left;
    font-size: 32px;
}

.council div p {
    font-size: 1.25vw;
    line-height: 1.3em;
}

.buttons_social {
    margin: 50px 0;
}

.buttons_social a {
    width: 378px;
    height: 58px;
    display: inline-block;
    background-color: #2cc17b;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 1.1vw;
    margin-left: 22px;
}

.buttons_social .btn-fb {
    background-color: #5262b7;
}

.buttons_social .btn-vk {
    background-color: #5e7ba3;
}

.buttons_social a:first-child {
    margin-left: 0;
}

.buttons_social a div {
    display: table-cell;
    width: 378px;
    height: 58px;
    vertical-align: middle;
    text-align: center;
}

.comments h5 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #38434e;
    margin-top: 50px;
}

.comments > span {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #8e8e8e;
    padding-top: 27px;
    display: block;
}

.comments > p {
    font-size: 24px;
    color: #8e8e8e;
    font-style: italic;
    padding-top: 60px;
}

.comments .social_share {
    padding-top: 17px;
    padding-bottom: 40px;
}

.comments .auth_c {
    font-size: 24px;
    color: #8e8e8e;
    font-style: italic;
    padding: 24px 0;
}

.comments .auth_c span {
    text-decoration: underline;
}

.comments textarea {
    width: 1008px;
    height: 183px;
    padding: 15px;
    background-color: #f5f7fb;
    border: 1px solid #9099b2;
    resize: none;
    border-radius: 5px;
    outline: none;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    font-size: 20px;

    display: block;
}

.comments .main_photo_input
{
    padding: 10px 0;
}
 

.comments .style_input
{
      background-color: #f5f7fb;
      border: 1px solid #9099b2;
      resize: none;
      border-radius: 5px;
      outline: none;
      font-family: 'MuseoSansCyrl-500', sans-serif;
      padding: 15px;
      margin: 10px 0;
      width: 290px;
      font-size: 20px;
}

.comments .reload
{
    background: url('../img/reload.png') no-repeat;
    background-size: contain;
      width: 35px;
      height: 30px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
}

.comments .captcha_img
{
      width: 240px;
      border: 1px solid #9099b2;
      border-radius: 5px;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
      height: 48px;
}

.comments .captcha_input
{
      width: 100px;
}

.comments .captcha_block
{
    display: inline-block;
}


.auth_c .tw {
    background: url('../img/social/tw.png');
    width: 41px;
    height: 41px;
    display: inline-block;
    vertical-align: bottom;
}

.auth_c .fb {
    background: url('../img/social/fb.png');
    width: 39px;
    height: 41px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.auth_c .vk {
    background: url('../img/social/vk.png');
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
}

.comments > ul .comment {
    border-top: 1px solid #c8ced4;
}

.comments > ul .comment.first {
    border-top: 0;
}

.comments > ul .comment.last {
    border-bottom: 1px solid #c8ced4;
}

 

.comments > ul .wrap_comment {
    padding: 25px 0 15px;
}



.comments ul li .name p {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    margin-right: 35px;
    display: inline-block;
}

.comments ul li .name span {
    font-size: 18px;
    font-style: italic;
    color: #8e8e8e;
}

.comments ul li .name {
    margin-bottom: 29px;
    position: relative;
}

.comments ul li .content_com .ava {
    vertical-align: top;
    display: table-cell;
    width: 83px;
}

.comments ul li .content_com .ava img {
    vertical-align: middle;
    padding: 4px;
    border-radius: 1px;
    border: 1px solid #9099b2;
}

.comments ul li .content_com .text {
    display: table-cell;
    padding-left: 42px;
    font-size: 24px;
    word-break: break-word;
}

.comments ul li .content_com .tumbs {
    margin-left: 100px;
}

.comments ul li .content_com .tumbs .like {
    background: url('../img/like_dislike.png') right top;
    width: 18px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
}

.comments ul li .content_com .tumbs .dislike {
    background: url('../img/like_dislike.png') left top;
    width: 18px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
}

.comments ul li .content_com .tumbs .like.active {
    background-position: right bottom;
}

.comments ul li .content_com .tumbs .dislike.active {
    background-position: left bottom;
}

.comments ul li .content_com .tumbs .line {
    height: 27px;
    display: inline-block;
    border-right: 1px solid #c8ced4;
    vertical-align: middle;
    margin-right: 7px;
    margin-left: 13px;
}

.comments ul li .tumbs .answer {
    color: #2cc17b;
    text-decoration: none;
    font-size: 18px;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.comments ul li .tumbs .answer:hover {
    text-decoration: underline;
}

.comments ul .comment {
    position: relative;
}

.comments ul .comment .comment {
    padding-left: 100px;
}


.comments ul .comment.answer .name {
    position: relative;
}

.comments ul .comment .comment .name:before {
    content: '';
    background: url('../img/answ.png');
    width: 22px;
    height: 15px;
    position: absolute;
    top: 5px;
    left: -42px;
}

.comments .error_msg
{
    color: red;
    padding: 5px;
}

.count_dislike {
    font-size: 18px;
    font-style: italic;
    color: #fb7e65;
    vertical-align: middle;
    padding-right: 7px;
}

.count_like {
    font-size: 18px;
    font-style: italic;
    color: #40c788;
    vertical-align: middle;
    padding-right: 7px;
}

.comments .share {
    vertical-align: middle;
    font-size: 18px;
    font-style: italic;
    color: #40c788;
    margin-left: 45px;
}

.comments .fb {
    background: url('../img/social/fb_comment.png');
    width: 32px;
    height: 33px;
    display: inline-block;
}

.comments .vk {
    background: url('../img/social/vk_com.png');
    width: 33px;
    height: 33px;
    display: inline-block;
}

.comments .tw {
    background: url('../img/social/tw_com.png');
    width: 35px;
    height: 36px;
    display: inline-block;
}

.comments .soc_com li {
    display: inline-block;
    vertical-align: middle;
}

.comments .soc_com {
    display: inline-block;
    vertical-align: middle;
    margin-left: 23px;
}

.comments input[type="submit"] {
    width: 326px;
    height: 60px;
    border-radius: 4px;
    background-color: #2cc17b;
    display: block;
    color: #fff;
    font-size: 21px;
    border: 0;
    margin: 26px 0;
}

.council > div > div > p {
    padding: 15px 0;
}

.tips_i {
    display: table-cell;
    vertical-align: top;
    padding-left: 30px;
}

.tips_i li {
    padding-bottom: 30px;
    border-bottom: 1px solid #c8ced4;
    margin-bottom: 50px;
}

.tips_i .title_t {
    font-size: 1.55vw;
    text-decoration: none;
    color: #38434e;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    margin-top: 30px;
    display: block;
}

.tips_i .desc_t {
    font-size: 1.25vw;
    padding-top: 20px;
}

.tips_i .inf_t {
    margin-top: 25px;
    font-size: 1.25vw;
}

.tips_i .inf_t a {
    color: #2cc17b;
    font-style: italic;
}

.tips_i .inf_t a:hover {
    text-decoration: none;
    color: #ff7256;
}

.tips_i .right_inf {
    float: right;
    color: #8e8e8e;
    font-style: italic;
}

.tips_i .right_inf .date {
}

.tips_i .right_inf .views .icon {
    background: url('../img/views.png');
    width: 32px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


.tips_i .right_inf .comments_inf .icon{
    background: url('../img/comments.png');
    width: 38px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.tips_i .right_inf .views, .tips_i .right_inf .comments_inf {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px 0 20px;
}

.pagination {
    margin-top: 5px;
    margin-bottom: 40px;
}

.pagination a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #2cc17b;
    text-decoration: none;
    padding: 6px 10px 6px 8px;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination .active {
    background-color: #2cc17b;
    color: #fff;
}

.pagination .left_arr {
    background: url('../img/arrows_pag.png') left top;
    width: 14px;
    height: 26px;
    padding: 0;
    margin-right: 25px;
}

.pagination .right_arr {
    background: url('../img/arrows_pag.png') right top;
    width: 14px;
    height: 26px;
    padding: 0;
    margin-left: 25px;
}

.contacts_inf, .contacts_form {
    display: table-cell;
    vertical-align: top;
}

.contacts {
    margin-top: 60px;
    width: 100%;
    display: table;
}

.contacts_inf {
    width: 30%;
    font-size: 24px;
}

.contacts_inf p {
    margin-bottom: 34px;
}

.contacts_inf ul li a {
    text-decoration: none;
    color: #38434e;
}

.contacts_inf ul li a div {
    display: inline-block;
    vertical-align: middle;
    width: 71px;
}

.contacts_inf ul li {
    margin: 40px 0;
}

.contacts_form {
    width: 70%;
}

.contacts_form form {
    width: 1086px;
    border: 1px solid #8e9297;
    border-radius: 5px;
    float: right;
    padding: 50px 0 40px 45px;
    font-size: 1.3vw;
}

.contacts_form form h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.contacts_form .text_c {
    display: inline-block;
    vertical-align: top;
    width: 158px;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    padding-top: 13px;
}

.contacts_form .text_c span, .contacts_form .text_ca span, .contacts_form .inf_form span {
    color: #ff7256;
}

.contacts_form input[type="text"] {
    width: 833px;
    height: 52px;
    padding: 0 15px;
    border: 1px solid #9099b2;
    background-color: #f5f7fb;
    border-radius: 5px;
    margin-bottom: 18px;
    outline: none;
    font-size: 15px;
}

.contacts_form textarea {
    width: 833px;
    height: 150px;
    padding: 15px;
    border: 1px solid #9099b2;
    background-color: #f5f7fb;
    border-radius: 5px;
    margin-bottom: 18px;
    outline: none;
    font-size: 25px;
    resize: none;
}

.contacts_form input[type="submit"] {
    width: 233px;
    height: 38px;
    background-color: #2cc17b;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    text-transform: uppercase;
    margin: 20px auto 0;
    display: block;
}

.contacts_form .inf_form {
    margin-top: 45px;
}

.cap_img {
    width: 240px;
    border: 1px solid #9099b2;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    height: 52px;
    margin-left: 10px;
}

.cap_img div {
    width: 240px;
    height: 52px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.text_ca {
    display: inline-block;
    vertical-align: middle;
}

.cap_i {
    width: 256px !important;
}

.contacts_form .reload {
    margin-left: 55px;
    margin-right: 40px;
}

.map_site ul {
    line-height: 1.4em;
    font-size: 1.3vw;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    padding-bottom: 10px;
}

.map_site ul ul {
    padding-left: 30px;
}

.map_site ul li {
    text-decoration: none;
    list-style: square outside;
    color: #2cc17b;
}

.map_site ul ul li {
    list-style: disc outside;
}

.map_site ul li a {
    color: #2c445c;
    text-decoration: none;
}

.map_site ul li a:hover {
    text-decoration: underline;
}

.map_site ul ul ul li {
    list-style: circle outside;
}

.fancybox-skin {
    box-shadow: none !important;
    background: rgba(255,255,255,0.3) !important;
}

.fancybox-close {
    display: none;
}

#inline1 .head {
    background: #2c445c; /* Old browsers */
    background: -moz-linear-gradient(top,  #2c445c 0%, #283038 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c445c), color-stop(100%,#283038)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2c445c 0%,#283038 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2c445c 0%,#283038 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2c445c 0%,#283038 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2c445c 0%,#283038 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c445c', endColorstr='#283038',GradientType=0 ); /* IE6-9 */
    height: 140px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width: 805px;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    color: #fff;
    font-size: 25px;
}

#inline1 .cont_fancy {
    background: #3c6382;
    height: 261px;
    display: block;
    position: relative;
    padding-top: 25px;
}

#inline1 .cont_fancy input[type="text"] {
    width: 693px;
    height: 52px;
    padding: 0 20px;
    outline: none;
    border: 1px solid #9099b2;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    margin: 0 auto  18px;
    display: block;
}

#inline1 .cont_fancy input[type="submit"] {
    background-color: #2cc17b;
    border: 0;
    width: 328px;
    height: 80px;
    display: block;
    margin: 27px auto 0;
    font-size: 30px;
    font-family: 'MuseoSansCyrl-500', sans-serif;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
}

.comments li textarea {
    height: 100px;
}

.t_con {
    display: table;
    width: 100%;
}

.wrapper_q {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}

.menu-sitemap-tree {
	margin-left: 21px;
}

header.index:after {
	height: 0;
}